.imgPortada{
    background-image: url("../assets/img/color-2174043.png");
}

.navbar-nav .nav-link {
    
    color: white;
    transition: color 1s;
  
}

.nav-link:hover{
   
    color: orangered !important;
    text-decoration: 5px overline yellow;
   
}