
body{
    background: url("../img/color-2174043.png");
    background-attachment: fixed;
}

.styleImage{

    background: url("../img/color-2174043.png");
    height: 1355px;
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;

}

.styleForMe{
  
    height: 400px;
    background-attachment: fixed;
    background-size: cover;

}

.styleForMe2{
    height: 200px;
    background-image: url("../img/banner-1989514.png");
    margin: 0px !important;
    background-size: cover;
    background-attachment: fixed;
    border-style: ridge;
    border-color: greenyellow;
}


.styleForMe1dot0{
  
    height: 1700px;
    
    background-size: cover;
    background-attachment: fixed;


}

.imgReact{
    padding-top: 40px !important;
}

.cbodyReact{
    padding-top: 50px !important;
}

.imgAPI{
    padding-top: 15px !important;
}

.cbodyAPI{
    padding-top: 15px !important;
}

.imgBOOT{
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.shadowText{
    
  text-shadow: 2px 2px black;
}



.fa-address-book-o{
    font-size: 60px !important;
}

.fa-graduation-cap{
    font-size: 60px !important;
}

.fa-pencil{
    font-size: 60px !important;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transition: color 1s;
  
}

.nav-link:hover{
   
    color: orangered !important;
    text-decoration: 5px overline yellow;
   
}

.card{
    background-color:transparent;
    border: none;
    border-radius: none;
}

.textoPresentacion{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}